@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
$primary: hsl(47, 88%, 63%);
$padding: 24px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Figtree", sans-serif;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $primary;
  font-size: 16px;
  article{
    border: 1px solid black;
    box-shadow: 4px 4px;
    width: 384px;
    background-color: white;
    border-radius: 20px;
    padding: $padding;
    &:hover{
      box-shadow: 6px 6px;
    }
    figure {
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .card-body{
      padding-bottom: $padding;
      padding-top: $padding;
      .category {
        background-color: $primary;
        padding: 4px 8px;
        border-radius: 4px;
        display: inline-block;
        font-weight: 800;
        margin-bottom: 12px;
      }
      time{
        display: block;
        margin-bottom: 12px;
      }
      h2{
        cursor: pointer;
        margin-bottom: 12px;
      }
      p{
        color: hsl(0, 0%, 50%);
      }
    }
    .author{
      display: flex;
      align-items: center;
      img{
        width: 32px;
        height: 32px;
      }
      .author-name{
        padding-left: 12px;
        font-weight: 800;
      }
    }

  }
}


footer {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}